/**
 * @name Simple UI
 * @description A Beautiful theme for betterdiscord
 * @author Frazix
 * @version 1.3.0
 * @source https://github.com/Frazix12/SimpleUi
 * @updateUrl https://github.com/Frazix12/SimpleUi/blob/main/SimpleUi.theme.css
 * @authorId 847030527822266378
 * @invite ynWdPzqhdH
 */
 @import url("https://frazix.is-a.dev/SimpleUi/src/main.css");
:root {
  --customFont: "Poppins";
  --background-image: url("https://i.imgur.com/rn0AlMm.jpg");
  --home-icon-image: url("https://i.imgur.com/LqxffsM.png");
  --opacity: 0.95;
  --settingsmodalwidth: 960px; /* default:	960px			(width of the settings modal, px/vw)															*/
  --settingsmodalheight: 80vh;
}